/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}

/* About */
#pic img{
    width: 350px;
    height: 400px;
}
#intro h2{
    font-size: 1.3rem;
}

/* Portfolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}
.gallery2 img{
    width: 250px;
    height: 150px;
    margin: 1opx;
}
.gallery3 img{
    width: 250px;
    height: 150px;
    margin: 1opx;
}
.gallery4 img{
    width: 250px;
    height: 150px;
    margin: 1opx;
}
/* Contact */
.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}